<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.html" %}
    <link href="/index.css" rel="stylesheet">
    {% if search %}
      <title>Note Server | {{search}}</title>
    {% else %}
      <title>Note Server</title>
    {% endif %}
  </head>
  <body>
    {% include "partials/search.html" %}
    <div class="notes">
      {% for note in notes %}
        <div class="note">
          <h1><a href="{{note.Name}}">{{note.Name}}</a></h1>
          <p>{{note.Sum}}</p>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
