:root {
  --background-main: black;
  --background-second: #101010;
  --background-third: #505050;

  --text-main: #f0f0f0;
  --text-second: #8a8a8a;
  --text-third: #454545;

  --border-main: #909090;
  --radius: 7px;
}

*{
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body{
  background: var(--background-main);
}

::selection {
  background: var(--background-third);
  text-decoration: underline;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-main);
  border-radius: var(--radius);
  padding: 4px 0 4px 0;
  width: 50%;
}

.search-inner input {
  background: none;
  color: var(--text-main);
  width: 100%; 
  border: none;
  outline: none;
  font-size: 20px;
  text-align: right;
  padding-right: 15px;
}

.search-inner h3 {
  font-size: 20px;
  padding: 5px;
  color: var(--text-main);
  margin-right: 10px;
  margin-left: 10px;
}
