.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 30px;
}

.note {
  width: 60%;
  border: solid 1px var(--border-main); 
  border-radius: var(--radius);
  padding: 25px;
}

.note h1 {
  font-size: 2em;
  text-decoration: underline;
  font-weight: 900;
  margin-bottom: 10px;
}

.note p {
  font-size: 1.6em;
  color: var(--text-main);
}

.note a {
  color: white;
}
