.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  gap: 30px;
}

.note {
  width: 60%;
  border: solid 1px var(--border-main); 
  padding: 30px;
  border-radius: var(--radius);
}

.note h1 {
  text-decoration: underline;
}

.note p {
  font-size: 20px;
  color: var(--text-main);
}

.note a {
  color: white;
}
