.note{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.note-inner {
  width: 80%;
  background: var(--background-second);
  color: var(--text-main);
  padding: 25px 30px;
  border-radius: var(--radius);
  margin-bottom: 30px;
}
