body{
  padding: 70px;
}

.results{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.result{
  border-radius: 5px;
  padding: 20px;
  background: #212121;
  transition: .4s;
}

h1{
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

h3{
  font-size: 30px;
  color: white;
  text-decoration: underline;
}

a{
  color: #010101;
  text-decoration: none;
}

p{
  font-size: 25px;
  color: white;
}

.result:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
